src/main/resources/customer.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:customer="http://service.cgi.com/customer"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  name="CustomerService"
                  targetNamespace="http://service.cgi.com/customer">

    <wsdl:types>
        <xs:schema>
            <xs:import namespace="http://service.cgi.com/customer" schemaLocation="customer.xsd"/>
        </xs:schema>
    </wsdl:types>

    <wsdl:message name="void"/>

    <wsdl:message name="getCustomerByNationalNumberRequest">
        <wsdl:part name="parameters" element="customer:getCustomerByNationalNumberRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getCustomerByNationalNumberResponse">
        <wsdl:part name="parameters" element="customer:getCustomerByNationalNumberResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="registerCustomerRequest">
        <wsdl:part name="parameters" element="customer:registerCustomerRequest"></wsdl:part>

    </wsdl:message>
    <wsdl:message name="registerCustomerResponse">
        <wsdl:part name="parameters" element="customer:registerCustomerResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="nationalNumberAlreadyRegisteredFault">
        <wsdl:part name="NationalNumberAlreadyRegisteredFault"
                   element="customer:NationalNumberAlreadyRegisteredError"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="customerNotAllowedFault">
        <wsdl:part name="CustomerNotAllowedFault" element="customer:CustomerNotAllowedError">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="CustomerService">
        <wsdl:operation name="getCustomerByNationalNumber">
            <wsdl:input message="customer:getCustomerByNationalNumberRequest"></wsdl:input>
            <wsdl:output message="customer:getCustomerByNationalNumberResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerCustomer">
            <wsdl:input message="customer:registerCustomerRequest"></wsdl:input>
            <wsdl:output message="customer:void"></wsdl:output>
            <wsdl:fault name="nationalNumberAlreadyRegisteredFault"
                        message="customer:nationalNumberAlreadyRegisteredFault"></wsdl:fault>
            <wsdl:fault name="customerNotAllowedFault" message="customer:customerNotAllowedFault"></wsdl:fault>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="CustomerServiceBindings"
                  type="customer:CustomerService">

        <soap:binding style="document"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getCustomerByNationalNumber">
            <soap:operation
                    soapAction="http://service.cgi.com/customer/getCustomerByNationalNumber"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="registerCustomer">

            <soap:operation
                    soapAction="http://service.cgi.com/customer/registerCustomer"/>
            <wsdl:input>

                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>

                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="nationalNumberAlreadyRegisteredFault">

                <soap:fault use="literal"
                            name="nationalNumberAlreadyRegisteredFault"/>
            </wsdl:fault>
            <wsdl:fault name="customerNotAllowedFault">

                <soap:fault use="literal"
                            name="customerNotAllowedFault"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CustomerService">
        <wsdl:port name="CustomerServicePort" binding="customer:CustomerServiceBindings">
            <soap:address location="http://service.cgi.com/customer"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
